.rubric-inner {
  padding: 4.7rem 0 8rem 0;
  @include flex(column);
  gap: 4.3rem;
}

.rubric-items {
  padding: 0 6.7rem;
  display: grid;
  gap: 8rem;
}
.rubric-item {
  align-items: center;
  gap: 1.5rem;
  .sub-news-left-content-item-date-content-info {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1.7rem;
    line-height: 2.5rem;
  }
  .sub-news-left-content-item-img {
    @include imgStyle(35rem, 20rem, cover);
  }
  .sub-news-left-content-item-content {
    gap: 0.8rem;
    h3 {
      font-size: 2rem;
    }
  }
  .sub-news-left-content-item-date-content-head {
    font-size: 1.6rem;
    color: $base-gray;
  }
}

.rubric-bottom {
  padding: 0 6.7rem;
}

@media screen and (max-width: 1080px) {
  .rubric-items,
  .rubric-bottom {
    padding: 0;
  }
}

@media screen and (max-width: 900px) {
  .rubric-item {
    flex-direction: column;

    .sub-news-left-content-item-img {
      max-width: unset;
      max-height: unset;
    }
  }
}
