.trending {
  padding: 4.6rem 0 4rem 0;
}

.trending-inner {
  @include flex;

  gap: 3.6rem;
}

.trending-banner {
  // @include imgStyle(unset, unset, contain);
  @include imgStyle(unset, unset, cover);
  //
  width: 33%;
  @include flex;
  a {
    display: block;
    max-width: unset;
    max-height: 95%;
    width: 95%;
    height: 100%;
    margin: auto 0 0 0;
  }
  //
}

.trending-head {
  @include flex;
  align-items: center;
  gap: 1.5rem;
  h2 {
    @include sectionTitle;
    white-space: nowrap;
  }
  span {
    width: 100%;
    border-top: 0.1rem solid $base-green;
  }
}

.trending-aside,
.trending-main {
  @include flex(column);
  gap: 2.5rem;
}

.trending-aside-item {
  @include flex(column);
  gap: 1.6rem;
}

.trending-banner {
  .swiper-slide {
    @include flex;
    align-items: center;
    justify-content: center;
  }
}

.trending-img {
  @include imgStyle($objFit: cover);
}

.trending-aside-content {
  @include stretch;
  @include flex(column);
  gap: 0.4rem;
}

.trending-aside-content-head {
  h3 {
    display: none;
    & + span {
      display: none;
    }
  }

  h4,
  span {
    color: $mild-gray;
    font-weight: normal;
    //
    font-size: 1.6rem;
  }
}

.trending-main-content {
  // @include grid(false, 1fr);
  // gap: 3.5rem;
  gap: 2.5rem;
  //
  height: 100%;
  @include flex(column);
  justify-content: space-between;
}

.trending-item {
  @include flex;
  gap: 0.8rem;
  align-items: flex-end;

  .trending-img {
    @include imgStyle(11.7rem, 7.5rem, cover);
  }
}

.trending-main-content-inner {
  @include stretch;
  @include flex(column);
  gap: 0.4rem;
  justify-content: flex-end;
}

// Media
@media screen and (max-width: 1500px) {
  .trending-item {
    &:last-child {
      display: none;
    }
  }
}
@media screen and (max-width: 1150px) {
  .trending-banner {
    display: none;
  }
  .trending-inner {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 1070px) {
  .trending {
    padding-top: 0;
  }
}

@media screen and (max-width: 950px) {
  .trending-inner {
    @include flex(column-reverse);
  }
}

@media screen and (max-width: 800px) {
  .trending-head {
    h2 {
      font-size: 2rem;
    }
  }
  .trending-main-content {
    gap: 2.5rem;
  }
}
