.contact-inner {
  padding: 4.3rem 0 8rem;
  @include flex(column);
  gap: 4.3rem;
}

.contact-head {
  span {
    display: none;
  }
}

.contact-left,
.contact-form,
.contact-content {
  @include flex(column);
  gap: 4rem;
}

.contact-block {
  width: 50%;
  @include flex(column);
  gap: 1.4rem;

  label {
    color: $base-black;
    font-size: 1.8rem;
    font-weight: bold;

    span {
      color: red;
    }
  }

  input,
  textarea {
    @include input;
    resize: none;
    outline: none;
  }
}

.contact-antispam {
  @include imgStyle(17.8rem, 3.2rem, contain);
}

.contact-content {
  button {
    cursor: pointer;
    color: $base-white;
    background: $base-green;
    padding: 1rem 0;
    width: 100%;
    max-width: 17rem;
  }
}

// Media
@media screen and (max-width: 800px) {
  .contact-block {
    width: 100%;
  }
  .contact-inner {
    padding: 2.2rem 0 5rem;
  }

  .contact-left {
    gap: 3.4rem;
  }
  .contact-form,
  .contact-content {
    gap: 3rem;
  }
}

@media screen and (max-width: 600px) {
  .contact-block {
    textarea {
      height: 100%;
      max-height: 7rem;
    }
  }

  .contact-content {
    button {
      max-width: unset;
    }
  }
}
