.big-banner {
  a {
    display: block;
    @include imgStyle($objFit: cover);
  }

  * {
    display: block;
  }
}

.header {
  border-top: 0.2rem black solid;
}

.header-inner {
  padding: 1.2rem 0;
  gap: 4rem;
  display: grid;
  grid-template-columns: 68% auto;
  align-items: center;
}

.header-left {
  @include flex;
  align-items: center;
  justify-content: flex-start;
}

.header-right {
  @include flex;
  align-items: center;
  justify-content: space-between;
  gap: 2.6rem;
}

.header-ext {
  @include flex;
  gap: 1.6rem;
  align-items: center;
}

.header-search {
  @include flex;
  align-items: center;

  input {
    @include input;
    padding: 1rem 0.6rem;
    width: 100%;
    font-weight: bold;
  }

  button {
    @include flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 0 0.8rem;
    height: 3.8rem;
    border: 0.1rem solid $border-black;
  }
}

.search-icon {
  @include flex;
  align-items: center;
  justify-content: center;
  img {
    width: 2.5rem;
    height: 2.5rem;
  }
  @include stretch;
}

// @media screen and (max-width: 1070px) {
//   .header-inner {
//     @include flex;
//     grid-template-columns: unset;
//     justify-content: space-between;
//   }
// }
@media screen and (max-width: 950px) {
  .header-inner {
    @include flex;
    justify-content: space-between;
  }
}
