.big-banner {
  a {
    display: block;
    @include imgStyle($objFit: cover);
  }
}

.header-inner {
  padding: 1.2rem 0;
  gap: 2.4rem;
  @include flex;
  justify-content: space-between;
  align-items: center;
}

.header-left {
  @include flex;
  align-items: center;
  justify-content: flex-start;
}

.header-right {
  @include flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.6rem;
}

.header-ext {
  @include flex;
  gap: 1.6rem;
  align-items: center;
}

.header-search {
  @include flex;
  align-items: center;

  input {
    @include input;
    font-weight: bold;
  }

  button {
    @include flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 0.4rem 0.6rem;
    height: 100%;
    border: 0.1rem solid $border-black;
  }
}

.search-icon {
  img {
    width: 2.5rem;
    height: 2.5rem;
  }
  @include stretch;
}
