.main-inner {
  padding: 2.8rem 0;
  @include grid(false, 72% auto);
  gap: 4rem;
  max-width: 174rem;
  margin: 0 auto;
}

.main-advert {
  a {
    display: block;
    @include imgStyle($objFit: cover);
  }
}

.banners-inner {
  @include grid(false, 1fr 1fr);
  gap: 2.5rem;
  @include stretch;
}

.banner {
  @include imgStyle($objFit: cover);
}

// Media

@media screen and (max-width: 950px) {
  .banner-container {
    max-width: unset;
    padding: 0;
  }
  .banner {
    &:last-child {
      display: none;
    }
  }
  .banners-inner {
    grid-template-columns: 1fr;
  }
}

// PAGE CONTENT
@import "./main/main-news";
@import "./main/aside";
@import "./main/sub-news";
@import "./main/trending";
@import "./main/posts";
@import "./main/media";
@import "./main/useful";
@import "./main/aside-mobile";
