.nav {
  // background: $base-black;
  // box-shadow: 0 0.4rem 0.4rem 0 rgba(0, 0, 0, 0.25);
  position: relative;
  margin-bottom: 4rem;

  &.removed-mq {
    margin-bottom: 0;
  }
}

.nav-top {
  background: $base-black;
  box-shadow: 0 0.4rem 0.4rem 0 rgba(0, 0, 0, 0.25);
}

.nav-inner {
  position: relative;
  padding: 0.2rem 0;
  // @include flex;
  // justify-content: space-between;
  display: grid;
  grid-template-columns: 68% auto;
  gap: 4rem;
  align-items: center;
}

.nav-ul {
  z-index: 3;
  @include flex;
  align-items: center;
  justify-content: flex-start;
  gap: 3.2rem;

  span {
    cursor: pointer;
    display: block;
    font-weight: bold;
    padding: 1rem 0;
    position: relative;
    color: $base-white;
    font-size: 1.6rem;

    &::after {
      left: 0;
      bottom: 0.5rem;
      position: absolute;
      content: "";
      width: 100%;
      height: 0;
      border-top: 0.1rem solid $base-white;
      display: block;
      opacity: 0;
    }
    &.active {
      &::after {
        opacity: 1;
      }
    }
  }
}

.nav-section-dropdown {
  padding: 0 3rem;
  @include flex;
  gap: 3.3rem;
  align-items: center;
  position: absolute;
  max-height: 0;
  left: 0;
  top: 4.3rem;
  width: 100%;
  background: $base-green;
  z-index: 2;
  @include transition-std;
  overflow-y: hidden;
  overflow-x: auto;

  &.active {
    max-height: 4rem;
    @include transition-std;
  }

  a {
    position: relative;
    display: block;
    padding: 1rem 0;
    font-size: 1.4rem;
    font-weight: bold;
    color: $base-white;

    &::after {
      left: 0;
      bottom: 0.5rem;
      position: absolute;
      content: "";
      width: 100%;
      height: 0;
      border-top: 0.1rem solid $base-white;
      display: block;
      opacity: 0;
    }
    &.active {
      &::after {
        opacity: 1;
      }
    }
  }
}

.nav-right {
  @include flex;
  align-items: center;
  justify-content: space-between;
  gap: 5rem;
}

.nav-right-link {
  // display: block;
  // background: $base-green;
  // font-size: 1.6rem;
  // padding: 0.4rem 7.8rem;
  // color: $base-white;
  // max-width: 18.6rem;
  //
  display: block;
  font-weight: bold;
  text-align: center;
  background: rgb(3, 159, 55);
  font-size: 1.5rem;
  padding: 0.1rem 0rem;
  color: rgb(255, 255, 255);
  max-width: 12.6rem;
  @include stretch;
}

.nav-lang {
  @include flex;
  align-items: center;
  gap: 1rem;
}

.marquee {
  position: absolute;
  width: 100%;
}

.marquee-inner {
  position: relative;
  @include stretch;
  background: $base-green;
  @include flex;
  gap: 0.8rem;
}

.marquee-title {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  // padding-right: 4rem;
  font-size: 1.5rem;
  color: $base-white;
  font-weight: bold;
  max-width: 12rem;
  @include stretch;
  background-image: url(../icons/marquee.svg);
  background-repeat: no-repeat;
  background-position: 0% center;
  @include flex;
  align-items: stretch;
  justify-content: center;

  span {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}

.ticker {
  @include stretch;
  @include flex;
}

.ticker-wrapper {
  @include flex;
  @include stretch;
  gap: 2.4rem;

  a {
    display: block;
    color: $base-white;
    // font-size: 1.5rem;
    font-size: 1.7rem;
    // font-weight: bold;
    padding: 1.1rem 0;
  }
}

.nav-bottom-inner {
  overflow-x: auto;
  background: $base-green;
  padding: 0 3.5rem;
  ul {
    @include flex;
    align-items: center;
    gap: 3.3rem;
  }
  a {
    display: block;
    font-weight: bold;
    padding: 1rem;
    position: relative;
    color: $base-white;
    font-size: 1.6rem;

    &::after {
      left: 0;
      bottom: 0.5rem;
      position: absolute;
      content: "";
      width: 100%;
      height: 0;
      border-top: 0.1rem solid $base-white;
      display: block;
      opacity: 0;
    }
    &.active {
      &::after {
        opacity: 1;
      }
    }
  }
}

.header-search-icon,
.header-burger {
  cursor: pointer;
  display: none;
  @include imgStyle(3.9rem, 3.9rem, contain);
}

// Burger

.burger-wrapper {
  @include grid(false, 22% 1fr);
  position: fixed;
  z-index: 9999999999999999;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  transform: translateX(100%);
  @include transition-std;

  .burger-close {
    width: 0;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    @include transition-std;

    img {
      padding: 1rem 0 0 2.7rem;
    }
  }
  .burger-content {
    @include flex(column);
    gap: 4rem;
    justify-content: space-between;
    color: black;
    width: 100%;
    background: $light-black;
    padding: 3rem 2rem;
    overflow-y: auto;
  }

  &.active {
    transform: translateX(0);

    .burger-close {
      width: 100%;
    }
  }
}

.burger-list {
  @include flex(column);
}

.burger-list-li {
  @include flex(column);

  &.green {
    align-items: center;
    padding-top: 1.3rem;
    .burger-item {
      background: $base-green;
      padding: 0.8rem;
      max-width: 15rem;
      width: 100%;
    }
  }
}

.burger-item {
  font-size: 2rem;
  color: $base-white;
  text-align: center;
  letter-spacing: 0.1em;
  cursor: pointer;
  font-weight: bold;
  padding: 2rem 0;
}

.burger-nested-list {
  overflow: hidden;
  max-height: 0;
  @include transition-std;
  @include flex(column);
  align-items: center;
  li {
    @include stretch;
    @include grid(false, 1fr);
  }
  a {
    justify-self: center;
    width: 50%;
    color: $base-white;
    text-align: center;
    font-size: 1.6rem;
    font-weight: bold;
    padding: 1.5rem 0;
    background: $light-gray;
    @include transition-std;

    &:hover {
      background: $mild-gray;
      @include transition-std;
    }
  }

  &.active {
    max-height: 50rem;
    @include transition-std;
  }
}

.burger-lang {
  @include flex;
  align-items: center;
  gap: 1.6rem;
  justify-content: center;

  ul {
    @include flex;
    align-items: center;
    gap: 1.6rem;
    justify-content: center;

    button {
      width: 4.3rem;
      height: 3rem;

      img {
        width: 4.3rem;
        height: 3rem;
      }
    }
  }
}

.lang-country {
  img {
    width: 2.5rem;
    height: 1.7rem;
  }
}

// Media

@media screen and (max-width: 1300px) {
  .nav-right-link {
    width: 11rem;
    padding: 0.4rem 0;
    text-align: center;
  }
}
@media screen and (max-width: 1100px) {
  .nav-ul {
    gap: 1.6rem;
  }
}
@media screen and (max-width: 1070px) {
  .nav-inner {
    @include flex;
    grid-template-columns: unset;
    justify-content: space-between;
  }
}

@media screen and (max-width: 950px) {
  .nav,
  .header-right,
  .nav-bottom-inner {
    display: none;
  }
  .header-search-icon,
  .header-burger {
    display: block;
  }
}
