.nav {
  background: $base-black;
  box-shadow: 0 0.4rem 0.4rem 0 rgba(0, 0, 0, 0.25);
  position: relative;
  margin-bottom: 4rem;

  &.removed-mq {
    margin-bottom: 0;
  }
}

.nav-inner {
  padding: 1.2rem 0;
  @include flex;
  justify-content: space-between;
  gap: 3.2rem;
  align-items: center;
}

.nav-ul {
  @include flex;
  align-items: center;
  justify-content: flex-start;
  gap: 3.2rem;

  a {
    color: $base-white;
    font-size: 1.4rem;
    font-weight: bold;
  }
}

.nav-lang {
  @include flex;
  align-items: center;
  gap: 1rem;
}

.marquee {
  position: absolute;
  width: 100%;
}

.marquee-inner {
  @include stretch;
  background: $base-green;
  @include flex;
  gap: 0.8rem;
}

.marquee-title {
  padding: 1rem 3rem;
  padding-right: 4rem;
  font-size: 1.3rem;
  color: $base-white;
  font-weight: bold;
  max-width: 12rem;
  width: 100%;
  background-image: url(../icons/marquee.svg);
  background-repeat: no-repeat;
  background-position: 0% center;
}

.ticker {
  @include stretch;
  @include flex;
}

.ticker-wrapper {
  @include flex;
  @include stretch;
  gap: 2.4rem;

  a {
    display: block;
    color: $base-white;
    font-size: 1.3rem;
    font-weight: bold;
    padding: 1.1rem 0;
  }
}
