.sub-news-left {
  @include flex(column);
  gap: 1.8rem;

  h2 {
    @include sectionTitle;
    font-weight: 600;
  }
}

.sub-news-left-content {
  @include flex(column);
  gap: 2rem;
}

.sub-news {
  @include grid(false, 1fr 1fr);
  gap: 3.5rem;
}

.sub-news-left-content-item {
  @include flex;
  gap: 0.8rem;
}

.sub-news-left-content-item-img {
  @include imgStyle(11.7rem, 7.5rem, cover);
}

.sub-news-left-content-item-content {
  @include stretch;
  @include flex(column);
  justify-content: space-between;
  gap: 0.4rem;
}

.sub-news-left-content-item-date-content-head {
  @include flex;
  align-items: center;
  gap: 0.4rem;
  color: $base-green;
  font-size: 1.2rem;
}

.sub-news-left-content-item-date-content-info {
  font-size: 1.2rem;
  color: $base-black;
  line-height: 1.6rem;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

// SUB NEWS RIGHT

.sub-news-right-top {
  @include flex(column);
  gap: 1.5rem;
  h2 {
    padding-bottom: 0.3rem;
    @include sectionTitle;
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.sub-news-right-top-content {
  @include flex(column);
  gap: 1.5rem;
}

.sub-news-right-top-item {
  @include flex;
  align-items: center;
  min-height: 7.5rem;

  p {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.sub-news-right-bottom {
  @include flex(column);
  gap: 1.8rem;

  h2 {
    @include sectionTitle;
    font-weight: 600;
  }
}

.sub-news-right-bottom-content {
  @include grid(false, 1fr 1fr 1fr);
  gap: 0.8rem;
}

.sub-news-right-bottom-item {
  display: block;
  position: relative;
  font-size: 1.3rem;
  background: $base-green;
  padding: 0.6rem 1rem;
  padding-left: 2rem;

  color: $base-white;
  letter-spacing: 0.05em;

  &::before {
    content: "";
    border-radius: 50%;
    display: block;
    width: 0.4rem;
    height: 0.4rem;
    background: #00822c;
    position: absolute;
    left: 0.6rem;
    top: 50%;
    background: $base-white;
  }
}
