@import "./swiper-bundle.min.css";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

html {
  font-size: 62.5%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

body {
  flex-grow: 1;
}

input,
button {
  background: none;
  outline: none;
  border: none;
}

ul {
  list-style-type: none;
}

a {
  color: #000;
  text-decoration: none;
}

.container {
  width: 100%;
  height: 100%;
  max-width: 174rem;
  padding: 0 4rem;
  margin: 0 auto;
}

@media screen and (max-width: 1000px) {
  .container {
    padding: 0 2rem;
  }
}
.big-banner a {
  display: block;
  max-width: unset;
  max-height: unset;
  width: 100%;
  height: 100%;
}
.big-banner a img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.big-banner * {
  display: block;
}

.header {
  border-top: 0.2rem black solid;
}

.header-inner {
  padding: 1.2rem 0;
  gap: 4rem;
  display: grid;
  grid-template-columns: 68% auto;
  align-items: center;
}

.header-left {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.header-right {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 2.6rem;
}

.header-ext {
  display: flex;
  flex-direction: row;
  gap: 1.6rem;
  align-items: center;
}

.header-search {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.header-search input {
  border: 1px solid #00822c;
  padding: 1.4rem;
  width: 100%;
  font-weight: bold;
}
.header-search button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 0.85rem;
  height: 100%;
  border: 0.1rem solid rgb(0, 0, 0);
}

.search-icon {
  width: 100%;
  height: 100%;
}
.search-icon img {
  width: 2.5rem;
  height: 2.5rem;
}

@media screen and (max-width: 950px) {
  .header-inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
.nav {
  background: rgb(36, 36, 36);
  box-shadow: 0 0.4rem 0.4rem 0 rgba(0, 0, 0, 0.25);
  position: relative;
  margin-bottom: 4rem;
}
.nav.removed-mq {
  margin-bottom: 0;
}

.nav-inner {
  padding: 0.2rem 0;
  display: grid;
  grid-template-columns: 68% auto;
  gap: 4rem;
  align-items: center;
}

.nav-ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 3.2rem;
}
.nav-ul a {
  display: block;
  font-weight: bold;
  padding: 1rem 0;
  position: relative;
  color: rgb(255, 255, 255);
  font-size: 1.6rem;
}
.nav-ul a::after {
  left: 0;
  bottom: 0.5rem;
  position: absolute;
  content: "";
  width: 100%;
  height: 0;
  border-top: 0.1rem solid rgb(255, 255, 255);
  display: block;
  opacity: 0;
}
.nav-ul a.active::after {
  opacity: 1;
}

.nav-right {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 5rem;
}

.nav-right-link {
  display: block;
  background: rgb(0, 130, 44);
  font-size: 1.6rem;
  padding: 0.4rem 7.8rem;
  color: rgb(255, 255, 255);
  max-width: 18.6rem;
  width: 100%;
  height: 100%;
}

.nav-lang {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.marquee {
  position: absolute;
  width: 100%;
}

.marquee-inner {
  position: relative;
  width: 100%;
  height: 100%;
  background: rgb(0, 130, 44);
  display: flex;
  flex-direction: row;
  gap: 0.8rem;
}

.marquee-title {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  padding: 1rem 3rem;
  padding-right: 4rem;
  font-size: 1.5rem;
  color: rgb(255, 255, 255);
  font-weight: bold;
  max-width: 12rem;
  width: 100%;
  height: 100%;
  background-image: url(../icons/marquee.svg);
  background-repeat: no-repeat;
  background-position: 0% center;
}

.ticker {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.ticker-wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  gap: 2.4rem;
}
.ticker-wrapper a {
  display: block;
  color: rgb(255, 255, 255);
  font-size: 1.5rem;
  font-weight: bold;
  padding: 1.1rem 0;
}

.nav-bottom-inner {
  overflow-x: auto;
  background: rgb(0, 130, 44);
  padding: 0 3.5rem;
}
.nav-bottom-inner ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 3.3rem;
}
.nav-bottom-inner a {
  display: block;
  font-weight: bold;
  padding: 1rem;
  position: relative;
  color: rgb(255, 255, 255);
  font-size: 1.6rem;
}
.nav-bottom-inner a::after {
  left: 0;
  bottom: 0.5rem;
  position: absolute;
  content: "";
  width: 100%;
  height: 0;
  border-top: 0.1rem solid rgb(255, 255, 255);
  display: block;
  opacity: 0;
}
.nav-bottom-inner a.active::after {
  opacity: 1;
}

.header-search-icon,
.header-burger {
  cursor: pointer;
  display: none;
  max-width: 3.9rem;
  max-height: 3.9rem;
  width: 100%;
  height: 100%;
}
.header-search-icon img,
.header-burger img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.burger-wrapper {
  display: grid;
  grid-template-columns: 22% 1fr;
  position: fixed;
  z-index: 1000;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  transform: translateX(100%);
  transition: 0.3s all ease;
}
.burger-wrapper .burger-close {
  width: 0;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  transition: 0.3s all ease;
}
.burger-wrapper .burger-close img {
  padding: 1rem 0 0 2.7rem;
}
.burger-wrapper .burger-content {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  justify-content: space-between;
  color: black;
  width: 100%;
  background: rgb(56, 56, 56);
  padding: 3rem 2rem;
  overflow-y: auto;
}
.burger-wrapper.active {
  transform: translateX(0);
}
.burger-wrapper.active .burger-close {
  width: 100%;
}

.burger-list {
  display: flex;
  flex-direction: column;
}

.burger-list-li {
  display: flex;
  flex-direction: column;
}
.burger-list-li.green {
  align-items: center;
  padding-top: 1.3rem;
}
.burger-list-li.green .burger-item {
  background: rgb(0, 130, 44);
  padding: 0.8rem;
  max-width: 15rem;
  width: 100%;
}

.burger-item {
  font-size: 2rem;
  color: rgb(255, 255, 255);
  text-align: center;
  letter-spacing: 0.1em;
  cursor: pointer;
  font-weight: bold;
  padding: 2rem 0;
}

.burger-nested-list {
  overflow: hidden;
  max-height: 0;
  transition: 0.3s all ease;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.burger-nested-list li {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
}
.burger-nested-list a {
  justify-self: center;
  width: 50%;
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 1.6rem;
  font-weight: bold;
  padding: 1.5rem 0;
  background: rgb(101, 101, 101);
  transition: 0.3s all ease;
}
.burger-nested-list a:hover {
  background: rgb(85, 85, 85);
  transition: 0.3s all ease;
}
.burger-nested-list.active {
  max-height: 50rem;
  transition: 0.3s all ease;
}

.burger-lang {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.6rem;
  justify-content: center;
}
.burger-lang ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.6rem;
  justify-content: center;
}
.burger-lang ul button {
  width: 4.3rem;
  height: 3rem;
}
.burger-lang ul button img {
  width: 4.3rem;
  height: 3rem;
}

@media screen and (max-width: 1300px) {
  .nav-right-link {
    width: 11rem;
    padding: 0.4rem 0;
    text-align: center;
  }
}
@media screen and (max-width: 1100px) {
  .nav-ul {
    gap: 1.6rem;
  }
}
@media screen and (max-width: 1070px) {
  .nav-inner {
    display: flex;
    flex-direction: row;
    grid-template-columns: unset;
    justify-content: space-between;
  }
}
@media screen and (max-width: 950px) {
  .nav,
.header-right,
.nav-bottom-inner {
    display: none;
  }
  .header-search-icon,
.header-burger {
    display: block;
  }
}
.main-inner {
  padding: 2.8rem 0;
  display: grid;
  grid-template-columns: 67% auto;
  gap: 4rem;
  max-width: 174rem;
  margin: 0 auto;
}

.main-advert a {
  display: block;
  max-width: unset;
  max-height: unset;
  width: 100%;
  height: 100%;
}
.main-advert a img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.banners-inner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2.5rem;
  width: 100%;
  height: 100%;
}

.banner {
  max-width: unset;
  max-height: unset;
  width: 100%;
  height: 100%;
}
.banner img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (max-width: 950px) {
  .banner-container {
    max-width: unset;
    padding: 0;
  }
  .banner:last-child {
    display: none;
  }
  .banners-inner {
    grid-template-columns: 1fr;
  }
}
.main-news-inner {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
}

.main-inner-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 4.2rem;
}

.main-news-lead {
  width: 100%;
  max-width: 71%;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
}

.main-news-bg {
  max-width: unset;
  max-height: unset;
  width: 100%;
  height: 100%;
}
.main-news-bg img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.main-news-overlay {
  z-index: 1;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 100%);
}

.main-news-info {
  padding: 0 2.7rem;
  z-index: 2;
  position: absolute;
  bottom: 3.2rem;
  left: 0rem;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.main-news-info-title {
  display: flex;
  flex-direction: row;
  gap: 0.4rem;
}
.main-news-info-title span {
  font-size: 1.4rem;
  color: rgb(255, 255, 255);
}
.main-news-info-title h3 {
  font-size: 1.4rem;
  color: rgb(255, 12, 0);
  letter-spacing: 0.1em;
}
.main-news-info-title h4 {
  font-size: 1.4rem;
  color: rgb(255, 255, 255);
}

.main-news-info-content {
  font-size: 1.8rem;
  color: rgb(255, 255, 255);
  line-height: 2.179rem;
  font-weight: bold;
}

.main-news-container {
  padding-right: 0;
}

.main-news-min {
  width: 100%;
  height: 100%;
  max-width: 29%;
  display: flex;
  flex-direction: column;
  gap: 1.7rem;
}

.main-news-min-item {
  position: relative;
}

.main-news-min-bg {
  max-width: unset;
  max-height: unset;
  width: 100%;
  height: 100%;
}
.main-news-min-bg img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.main-news-min-info {
  position: absolute;
  padding: 0 1.2rem;
  left: 0;
  bottom: 0.7rem;
  display: block;
  font-size: 1.2rem;
  line-height: 1.362rem;
  color: rgb(255, 255, 255);
  z-index: 2;
  font-weight: bold;
  text-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
}

@media screen and (max-width: 1070px) {
  .main-news-container {
    padding-right: 4rem;
  }
  .main-inner {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 950px) {
  .main-news-min {
    display: none;
  }
  .main-news-lead {
    max-width: unset;
  }
  .main-news-container {
    max-width: unset;
    padding: 0;
  }
  .main-news-info-title {
    font-size: 1.5rem;
  }
  .main-news-info-content {
    font-size: 1.7rem;
  }
  .main-inner-content {
    gap: 2.5rem;
  }
}
.aside {
  position: -webkit-sticky;
  position: sticky;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  top: 4.6rem;
  right: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 3.4rem;
}

.aside-content-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2.5rem;
  overflow: hidden;
}

.aside-title {
  font-size: 2.4rem;
  color: rgb(36, 36, 36);
  letter-spacing: 0.1em;
  line-height: 3.3rem;
}

.aside-btns {
  list-style-type: disc;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.aside-btns button {
  font-size: 1.2rem;
  text-align: left;
  position: relative;
  padding: 0.6rem;
  padding-left: 1.7rem;
  cursor: pointer;
  width: 100%;
  border: 0.1rem solid rgb(0, 130, 44);
  color: rgb(0, 130, 44);
  background: rgb(255, 255, 255);
  transition: 0.3s all ease;
}
.aside-btns button::before {
  content: "";
  border-radius: 50%;
  display: block;
  width: 0.4rem;
  height: 0.4rem;
  background: rgb(0, 130, 44);
  position: absolute;
  left: 0.6rem;
  top: 50%;
  transform: translateY(-50%);
  transition: 0.3s all ease;
}
.aside-btns button.active {
  color: rgb(255, 255, 255);
  background: rgb(0, 130, 44);
  transition: 0.3s all ease;
}
.aside-btns button.active::before {
  background: rgb(255, 255, 255);
  transition: 0.3s all ease;
}

.aside-content {
  z-index: 1;
  grid-column: 1/1;
  grid-row: 3/3;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  top: 12rem;
  transform: translate(-100%, -20%) scale(0.7);
  opacity: 0;
  width: 100%;
  transition: 0.5s all ease;
}
.aside-content.active {
  z-index: 2;
  transform: translate(0%, 0%) scale(1);
  opacity: 1;
  transition: 0.5s all ease;
}

.aside-content-item {
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
}
.aside-content-item:not(:last-child) {
  padding-bottom: 2rem;
}

.aside-content-item-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.4rem;
}
.aside-content-item-title h3 {
  color: rgb(255, 12, 0);
  font-size: 1.4rem;
  letter-spacing: 0.1em;
}
.aside-content-item-title h4,
.aside-content-item-title span {
  color: rgb(85, 85, 85);
  font-size: 1.4rem;
  font-weight: normal;
}

.aside-content-item-info {
  font-size: 1.5rem;
  line-height: 1.77rem;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.aside-content-more {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  font-size: 1.5rem;
  border: 0.1rem solid rgb(0, 130, 44);
  padding: 0.6rem 1rem;
  background: transparent;
  color: rgb(36, 36, 36);
  transition: 0.3s all ease;
}
.aside-content-more img {
  opacity: 1;
  transition: 0.3s all ease;
}
.aside-content-more:hover {
  color: rgb(255, 255, 255);
  background: rgb(0, 130, 44);
  transition: 0.3s all ease;
}
.aside-content-more:hover img {
  opacity: 0;
  transition: 0.3s all ease;
}

.aside-ad-wrapper {
  max-width: unset;
  max-height: unset;
  width: 100%;
  height: 100%;
}
.aside-ad-wrapper img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.aside-container {
  width: 100%;
  padding: 0 4rem 0 0;
  max-width: unset;
}

@media screen and (max-width: 1070px) {
  .aside {
    max-width: unset;
  }
  .aside-ad-wrapper a {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .aside-container {
    max-width: 174rem;
    padding: 0 3rem;
    margin: 0 auto;
  }
}
@media screen and (max-width: 800px) {
  .aside-title {
    text-align: center;
    font-size: 2rem;
  }
  .aside-content-wrapper {
    gap: 2.2rem;
  }
}
.sub-news-left {
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
}
.sub-news-left h2 {
  font-size: 2.4rem;
  color: rgb(36, 36, 36);
  letter-spacing: 0.1em;
  line-height: 3.3rem;
  font-weight: 600;
}

.sub-news-left-content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  height: 100%;
  justify-content: space-between;
}

.sub-news-inner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3.5rem;
  height: 100%;
}

.sub-news-left-content-item {
  display: flex;
  flex-direction: row;
  gap: 0.8rem;
}

.sub-news-left-content-item-img {
  max-width: 11.7rem;
  max-height: 7.5rem;
  width: 100%;
  height: 100%;
}
.sub-news-left-content-item-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.sub-news-left-content-item-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.sub-news-left-content-item-date-content-head {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.4rem;
  color: rgb(0, 130, 44);
  font-size: 1.4rem;
}

.sub-news-left-content-item-date-content-info {
  font-size: 1.4rem;
  color: rgb(36, 36, 36);
  line-height: 1.6rem;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.sub-news {
  height: 100%;
}

.sub-news-right {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: space-between;
  height: 100%;
}

.sub-news-right-top {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.sub-news-right-top h2 {
  padding-bottom: 0.3rem;
  font-size: 2.4rem;
  color: rgb(36, 36, 36);
  letter-spacing: 0.1em;
  line-height: 3.3rem;
  font-weight: 600;
  overflow: hidden;
  text-overflow: ellipsis;
}

.sub-news-right-top-content {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  height: 100%;
  justify-content: space-between;
}

.sub-news-right-top-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  min-height: 7.5rem;
}
.sub-news-right-top-item p {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.sub-news-right-bottom {
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
}
.sub-news-right-bottom h2 {
  font-size: 2.4rem;
  color: rgb(36, 36, 36);
  letter-spacing: 0.1em;
  line-height: 3.3rem;
  font-weight: 600;
}

.sub-news-right-bottom-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0.8rem;
}

.sub-news-right-bottom-item {
  display: block;
  position: relative;
  font-size: 1.5rem;
  background: rgb(0, 130, 44);
  padding: 0.6rem 1rem;
  padding-left: 2rem;
  transition: 0.3s all ease;
  color: rgb(255, 255, 255);
  letter-spacing: 0.05em;
}
.sub-news-right-bottom-item:hover {
  background: rgb(255, 12, 0);
  transition: 0.3s all ease;
}
.sub-news-right-bottom-item::before {
  content: "";
  border-radius: 50%;
  display: block;
  width: 0.4rem;
  height: 0.4rem;
  background: #00822c;
  position: absolute;
  left: 0.6rem;
  top: 50%;
  background: rgb(255, 255, 255);
}

@media screen and (max-width: 800px) {
  .sub-news-left h2,
.sub-news-right-top h2,
.sub-news-right-bottom h2 {
    text-align: center;
    font-size: 2rem;
  }
  .sub-news-right-bottom-content {
    grid-template-columns: 1fr 1fr;
  }
  .sub-news-right-top-item {
    min-height: unset;
  }
  .sub-news-right-top-content {
    gap: 2.5rem;
  }
  .sub-news-right {
    display: flex;
    flex-direction: column;
    gap: 5rem;
  }
  .main-inner {
    gap: 5rem;
  }
}
@media screen and (max-width: 780px) {
  .sub-news-inner {
    grid-template-columns: 1fr;
  }
}
.trending {
  padding: 4.6rem 0 4rem 0;
}

.trending-inner {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 3.6rem;
}

.trending-banner {
  max-width: unset;
  max-height: unset;
  width: 100%;
  height: 100%;
}
.trending-banner img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.trending-head {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.5rem;
}
.trending-head h2 {
  font-size: 2.4rem;
  color: rgb(36, 36, 36);
  letter-spacing: 0.1em;
  line-height: 3.3rem;
  white-space: nowrap;
}
.trending-head span {
  width: 100%;
  border-top: 0.1rem solid rgb(0, 130, 44);
}

.trending-aside,
.trending-main {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.trending-aside-item {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.trending-img {
  max-width: unset;
  max-height: unset;
  width: 100%;
  height: 100%;
}
.trending-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.trending-aside-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.trending-aside-content-head h3 {
  color: rgb(0, 130, 44);
}
.trending-aside-content-head h4,
.trending-aside-content-head span {
  color: rgb(85, 85, 85);
  font-weight: normal;
}

.trending-main-content {
  display: grid;
  grid-template-columns: 1fr;
  gap: 3.5rem;
}

.trending-item {
  display: flex;
  flex-direction: row;
  gap: 0.8rem;
  align-items: flex-end;
}
.trending-item .trending-img {
  max-width: 11.7rem;
  max-height: 7.5rem;
  width: 100%;
  height: 100%;
}
.trending-item .trending-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.trending-main-content-inner {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  justify-content: flex-end;
}

@media screen and (max-width: 1150px) {
  .trending-banner {
    display: none;
  }
  .trending-inner {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 950px) {
  .trending-inner {
    display: flex;
    flex-direction: column-reverse;
  }
}
@media screen and (max-width: 800px) {
  .trending-head h2 {
    font-size: 2rem;
  }
  .trending-main-content {
    gap: 2.5rem;
  }
}
.posts {
  padding: 4rem 0;
}

.posts-inner {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.posts-content {
  display: grid;
  grid-template-areas: "big big sm1 sm2" "big big sm3 sm4" "sm5 sm6 sm7 sm8";
  gap: 2.5rem;
}

.posts-item.sm .trending-img {
  overflow: hidden;
}
.posts-item.big {
  grid-area: big;
}
.posts-item.sm1 {
  grid-area: sm1;
}
.posts-item.sm2 {
  grid-area: sm2;
}
.posts-item.sm3 {
  grid-area: sm3;
}
.posts-item.sm4 {
  grid-area: sm4;
}
.posts-item.sm5 {
  grid-area: sm5;
}
.posts-item.sm6 {
  grid-area: sm6;
}
.posts-item.sm7 {
  grid-area: sm7;
}
.posts-item.sm8 {
  grid-area: sm8;
}

@media screen and (max-width: 950px) {
  .posts-item.big {
    grid-area: none;
    width: 100%;
    height: 100%;
  }
  .posts-content {
    display: flex;
    flex-direction: row;
  }
  .posts-item.sm {
    display: none;
  }
}
.media {
  background: rgb(85, 85, 85);
}

.media-inner {
  padding: 4rem 0;
  display: flex;
  flex-direction: column;
  gap: 5.2rem;
}

.media-head h2 {
  color: rgb(255, 255, 255);
}
.media-head span {
  border: 0.1rem solid rgb(255, 255, 255);
}

.media-videos {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.video-item {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.video {
  width: 100%;
  height: 100%;
}
.video video {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.video img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.video-info h4,
.video-info span,
.video-info p {
  color: rgb(255, 255, 255);
  font-weight: normal;
}

.swiper {
  position: relative !important;
}

.video-prev {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  left: 0;
  top: 30%;
  position: absolute;
  background: rgba(39, 39, 39, 0.7);
  height: 6rem;
  width: 4rem;
  z-index: 2;
  cursor: pointer;
}
.video-prev img {
  width: 3.2rem;
  height: 3.2rem;
}

.video-next {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  right: 0;
  top: 30%;
  position: absolute;
  background: rgba(39, 39, 39, 0.7);
  height: 6rem;
  width: 4rem;
  z-index: 2;
  cursor: pointer;
}
.video-next img {
  width: 3.2rem;
  height: 3.2rem;
}

.partners {
  display: flex;
  flex-direction: column;
  gap: 4.6rem;
}
.partners .swiper-slide {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.partners .swiper-slide-active .partners-item {
  transform: scale(1.1);
  transition: 0.3s all ease;
}

.partners-item {
  max-width: 16.7rem;
  max-height: 8.7rem;
  width: 100%;
  height: 100%;
  transform: scale(0.8);
  transition: 0.3s all ease;
}
.partners-item img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.partners-head {
  font-size: 2.4rem;
  color: rgb(36, 36, 36);
  letter-spacing: 0.1em;
  line-height: 3.3rem;
  text-align: center;
  color: rgb(255, 255, 255);
}

.partner-prev,
.partner-next {
  background: none;
}

@media screen and (max-width: 950px) {
  .media {
    display: none;
  }
}
.useful-inner {
  padding: 4rem 0;
  display: grid;
  grid-template-columns: 67% auto;
  gap: 3.6rem;
}

.useful-aside-item-top {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
}
.useful-aside-item-top span {
  font-size: 1.4rem;
  color: rgb(0, 130, 44);
  font-weight: 300;
}

.useful-aside-img {
  max-width: 7.7rem;
  max-height: 8.5rem;
  width: 100%;
  height: 100%;
}
.useful-aside-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.useful-aside-item {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.useful-aside-item-bottom p {
  font-size: 1.5rem;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.useful-aside-content {
  display: flex;
  flex-direction: column;
  gap: 3.5rem;
}

.useful-aside {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.useful-main-content {
  grid-template-columns: 1fr 1fr;
  height: 100%;
}

@media screen and (max-width: 1250px) {
  .useful-inner {
    grid-template-columns: 2fr 1fr;
  }
}
@media screen and (max-width: 1100px) {
  .useful-inner {
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 950px) {
  .useful-main-content {
    grid-template-columns: 1fr;
  }
  .trending-item:nth-child(6), .trending-item:nth-child(7), .trending-item:nth-child(8) {
    display: none;
  }
}
.footer {
  display: grid;
  grid-template-columns: 1fr;
  min-height: 23.6rem;
  width: 100%;
  height: 100%;
  background: rgb(56, 56, 56);
}

.footer-inner {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.footer-inner p {
  font-size: 1.5rem;
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-align: center;
}

.video-main-inner {
  padding: 4.7rem 0 8rem 0;
  display: flex;
  flex-direction: column;
  gap: 4.3rem;
}

.video-main-top {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 6rem;
}
.video-main-top h4,
.video-main-top span,
.video-main-top p {
  color: rgb(0, 0, 0);
}

.video-main-bottom {
  padding-top: 3.7rem;
  display: flex;
  flex-direction: row;
  gap: 2.6rem;
  align-items: center;
  justify-content: flex-start;
}
.video-main-bottom span {
  font-size: 1.8rem;
  color: rgb(0, 130, 44);
}

.video-main-pagination {
  cursor: pointer;
  max-width: 4.1rem;
  max-height: 3.8rem;
  width: 100%;
  height: 100%;
  background: rgb(56, 56, 56);
  width: 4.1rem;
  height: 3.8rem;
}
.video-main-pagination img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

@media screen and (max-width: 950px) {
  .video-main-top {
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
  }
}
@media screen and (max-width: 800px) {
  .video-main-inner {
    padding: 2.2rem 0 5rem;
    gap: 1.3rem;
  }
}
@media screen and (max-width: 800px) {
  .video-main-top {
    grid-template-columns: 1fr;
  }
}
.rubric-inner {
  padding: 4.7rem 0 8rem 0;
  display: flex;
  flex-direction: column;
  gap: 4.3rem;
}

.rubric-items {
  padding: 0 6.7rem;
  display: flex;
  flex-direction: column;
  gap: 8rem;
}

.rubric-item {
  align-items: center;
  gap: 1.5rem;
}
.rubric-item .sub-news-left-content-item-date-content-info {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1.7rem;
  line-height: 2.5rem;
}
.rubric-item .sub-news-left-content-item-img {
  max-width: 35rem;
  max-height: 20rem;
  width: 100%;
  height: 100%;
}
.rubric-item .sub-news-left-content-item-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.rubric-item .sub-news-left-content-item-content {
  gap: 0.8rem;
}
.rubric-item .sub-news-left-content-item-content h3 {
  font-size: 2rem;
}
.rubric-item .sub-news-left-content-item-date-content-head {
  font-size: 1.6rem;
  color: rgba(0, 0, 0, 0.6);
}

.rubric-bottom {
  padding: 0 6.7rem;
}

@media screen and (max-width: 1080px) {
  .rubric-items,
.rubric-bottom {
    padding: 0;
  }
}
@media screen and (max-width: 900px) {
  .rubric-item {
    flex-direction: column;
  }
  .rubric-item .sub-news-left-content-item-img {
    max-width: unset;
    max-height: unset;
  }
}
.article-inner {
  padding: 3rem 0 4rem;
  display: grid;
  grid-template-columns: 67% auto;
  gap: 4rem;
}

.article-content-top {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.article-item {
  max-width: unset;
  max-height: unset;
  width: 100%;
  height: 100%;
}
.article-item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.article-prev,
.article-next {
  top: 45%;
}

.article-head {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
.article-head h2 {
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 3.3rem;
}
.article-head span {
  font-weight: 600;
  font-size: 1.7rem;
  color: rgb(0, 130, 44);
}

.article-content {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.article-desc {
  padding-top: 1.8rem;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}
.article-desc p,
.article-desc h5 {
  font-size: 1.7rem;
  line-height: 2.5rem;
}

.article-links {
  padding-top: 2.8rem;
}

.article-content-bottom {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}
.article-content-bottom h3 {
  font-size: 2.4rem;
}

.article-bottom-head h4,
.article-bottom-head span {
  color: rgb(36, 36, 36);
  font-weight: 300;
}

.article-content-info {
  color: rgb(36, 36, 36) !important;
  font-weight: bold !important;
}

.article-items {
  display: none;
}

@media screen and (max-width: 1080px) {
  .article-aside {
    display: none;
  }
  .article-inner {
    display: block;
  }
}
@media screen and (max-width: 800px) {
  .article-inner {
    padding: 2.2rem 0 5rem;
  }
  .article-head {
    flex-direction: column-reverse;
  }
  .article-head h2 {
    font-size: 1.9rem;
  }
  .article-head span {
    font-size: 1.5rem;
    color: rgb(85, 85, 85);
  }
  .article-content-top {
    gap: 2.5rem;
  }
  .article-content-bottom {
    gap: 2.5rem;
  }
  .article-content-bottom h3 {
    font-size: 2rem;
    letter-spacing: 0.1em;
    text-align: center;
  }
}
@media screen and (max-width: 700px) {
  .article-swiper-wrapper-lower {
    display: none;
  }
  .article-items {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
  }
  .article-content-info {
    font-size: 1.7rem;
  }
  .article-bottom-head {
    font-size: 1.5rem;
  }
  .sub-news-left-content-item-content {
    gap: 0.5rem;
  }
  .article-bottom-item {
    gap: 1.4rem;
  }
}
.affiche-inner {
  padding: 4.4rem 0 8rem 0;
  display: flex;
  flex-direction: column;
  gap: 4.3rem;
}

.affiche-item-data {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.affiche-item-data-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.6rem;
}
.affiche-item-data-row span {
  font-size: 1.7rem;
}

.affiche-item-data-img {
  width: 1.3rem;
  height: 1.3rem;
}
.affiche-item-data-img img {
  width: 1.3rem;
  height: 1.3rem;
  -o-object-fit: contain;
     object-fit: contain;
}

@media screen and (max-width: 850px) {
  .affiche-inner {
    gap: 2.8rem;
  }
  .affiche-items {
    gap: 4rem;
  }
  .affiche-item {
    flex-direction: column;
  }
  .affiche-item .sub-news-left-content-item-img {
    max-width: unset;
    max-height: unset;
  }
  .affiche-item .sub-news-left-content-item-date-content-head {
    font-size: 1.5rem;
  }
  .affiche-item h3 {
    font-size: 1.7rem;
  }
}
@media screen and (max-width: 800px) {
  .affiche-inner {
    padding: 2.2rem 0 5rem;
  }
}
.affiche-item-inner {
  padding: 4.6rem 0 8rem 0;
  display: grid;
  grid-template-columns: 67% auto;
  gap: 5rem;
}

.affiche-item-content {
  display: flex;
  flex-direction: column;
  gap: 2.3rem;
}

.affiche-item-head {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.affiche-item-head h1 {
  font-size: 2.4rem;
}
.affiche-item-head span {
  font-size: 1.7rem;
  color: rgb(0, 130, 44);
}

.affiche-item-img {
  max-width: unset;
  max-height: unset;
  width: 100%;
  height: 100%;
  justify-self: center;
  align-self: center;
}
.affiche-item-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.affiche-item-top {
  display: grid;
  grid-template-columns: 64% auto;
  gap: 1.8rem;
}
.affiche-item-top .affiche-item-data {
  gap: 1.5rem;
  justify-self: flex-start;
  align-self: center;
}

.affiche-item-bottom {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 1.8rem;
}

.affiche-item-item {
  display: flex;
  flex-direction: column;
  gap: 2.3rem;
}

@media screen and (max-width: 1080px) {
  .affiche-item-inner {
    grid-template-columns: 1fr;
  }
  .affiche-item-aside {
    display: none;
  }
  .affiche-item-top {
    display: flex;
    flex-direction: column-reverse;
  }
  .affiche-item-top .affiche-item-data {
    justify-self: unset;
    align-self: unset;
  }
}
@media screen and (max-width: 800px) {
  .affiche-item-head {
    flex-direction: column-reverse;
    gap: 1rem;
  }
  .affiche-item-head h1 {
    font-size: 1.9rem;
  }
  .affiche-item-head span {
    font-size: 1.5rem;
    color: rgb(85, 85, 85);
  }
  .affiche-item-bottom {
    font-size: 1.7rem;
  }
}
.contact-inner {
  padding: 4.3rem 0 8rem;
  display: flex;
  flex-direction: column;
  gap: 4.3rem;
}

.contact-left,
.contact-form,
.contact-content {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.contact-block {
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
}
.contact-block label {
  color: rgb(36, 36, 36);
  font-size: 1.8rem;
  font-weight: bold;
}
.contact-block label span {
  color: red;
}
.contact-block input,
.contact-block textarea {
  border: 1px solid #00822c;
  padding: 1.4rem;
  resize: none;
  outline: none;
}

.contact-antispam {
  max-width: 17.8rem;
  max-height: 3.2rem;
  width: 100%;
  height: 100%;
}
.contact-antispam img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.contact-content button {
  cursor: pointer;
  color: rgb(255, 255, 255);
  background: rgb(0, 130, 44);
  padding: 1rem 0;
  width: 100%;
  max-width: 17rem;
}

@media screen and (max-width: 800px) {
  .contact-inner {
    padding: 2.2rem 0 5rem;
  }
  .contact-left {
    gap: 3.4rem;
  }
  .contact-form,
.contact-content {
    gap: 3rem;
  }
}
@media screen and (max-width: 600px) {
  .contact-block textarea {
    height: 100%;
    max-height: 7rem;
  }
  .contact-content button {
    max-width: unset;
  }
}/*# sourceMappingURL=style.css.map */