@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

html {
  font-size: 62.5%;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

input,
button {
  background: none;
  outline: none;
  border: none;
}

ul {
  list-style-type: none;
}

a {
  color: #000;
  text-decoration: none;
}

.container {
  width: 100%;
  height: 100%;
  max-width: 174rem;
  padding: 0 4rem;
  margin: 0 auto;
}

.big-banner a {
  display: block;
  max-width: unset;
  max-height: unset;
  width: 100%;
  height: 100%;
}

.big-banner a img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.header-inner {
  padding: 1.2rem 0;
  gap: 2.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.header-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1.6rem;
}

.header-ext {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 1.6rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-search input {
  border: 0.1rem solid black;
  font-size: 1.2rem;
  padding: 1rem 0.8rem;
  width: 100%;
  height: 100%;
  font-weight: bold;
}

.header-search input::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.header-search input:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.header-search input::-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.header-search input::placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.header-search button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  padding: 0.4rem 0.6rem;
  height: 100%;
  border: 0.1rem solid black;
}

.search-icon {
  width: 100%;
  height: 100%;
}

.search-icon img {
  width: 2.5rem;
  height: 2.5rem;
}

.nav {
  background: #242424;
  -webkit-box-shadow: 0 0.4rem 0.4rem 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0 0.4rem 0.4rem 0 rgba(0, 0, 0, 0.25);
  position: relative;
  margin-bottom: 4rem;
}

.nav-inner {
  padding: 1.2rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 3.2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 3.2rem;
}

.nav-ul a {
  color: white;
  font-size: 1.4rem;
  font-weight: bold;
}

.nav-lang {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}

.marquee {
  position: absolute;
  width: 100%;
}

.marquee-inner {
  width: 100%;
  height: 100%;
  background: #00822c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 0.8rem;
}

.marquee-title {
  padding: 1rem 3rem;
  padding-right: 4rem;
  font-size: 1.3rem;
  color: white;
  font-weight: bold;
  max-width: 12rem;
  width: 100%;
  background-image: url(../icons/marquee.svg);
  background-repeat: no-repeat;
  background-position: 0% center;
}

.ticker {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.ticker-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  height: 100%;
  gap: 2.4rem;
}

.ticker-wrapper a {
  display: block;
  color: white;
  font-size: 1.3rem;
  font-weight: bold;
  padding: 1.1rem 0;
}

.main-inner {
  padding: 2.8rem 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 67% auto;
      grid-template-columns: 67% auto;
  gap: 4rem;
}

.main-advert a {
  display: block;
  max-width: unset;
  max-height: unset;
  width: 100%;
  height: 100%;
}

.main-advert a img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.banners-inner {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 2.5rem;
  width: 100%;
  height: 100%;
}

.banner {
  max-width: unset;
  max-height: unset;
  width: 100%;
  height: 100%;
}

.banner img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.main-news {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 1.5rem;
}

.main-inner-content {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 4.2rem;
}

.main-news-lead {
  width: 100%;
  height: 100%;
  max-width: 71%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.main-news-bg {
  max-width: unset;
  max-height: unset;
  width: 100%;
  height: 100%;
}

.main-news-bg img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.main-news-overlay {
  z-index: 1;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.7)));
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 100%);
}

.main-news-info {
  padding: 0 2.7rem;
  z-index: 2;
  position: absolute;
  bottom: 3.2rem;
  left: 0rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-news-info-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 0.4rem;
}

.main-news-info-title span {
  font-size: 1.2rem;
  color: white;
}

.main-news-info-title h3 {
  font-size: 1.2rem;
  color: #ff0c00;
  letter-spacing: 0.1em;
}

.main-news-info-title h4 {
  font-size: 1.2rem;
  color: white;
}

.main-news-info-content {
  font-size: 1.6rem;
  color: white;
  line-height: 2.179rem;
  font-weight: bold;
}

.main-news-min {
  width: 100%;
  height: 100%;
  max-width: 29%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.7rem;
}

.main-news-min-item {
  position: relative;
}

.main-news-min-bg {
  max-width: unset;
  max-height: unset;
  width: 100%;
  height: 100%;
}

.main-news-min-bg img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.main-news-min-info {
  position: absolute;
  padding: 0 1.2rem;
  left: 0;
  bottom: 0.7rem;
  display: block;
  font-size: 1rem;
  line-height: 1.362rem;
  color: white;
  z-index: 2;
  font-weight: bold;
  text-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
}

.aside {
  position: -webkit-sticky;
  position: sticky;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  top: 4.6rem;
  right: 0;
  width: 100%;
  max-width: 35rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 3.4rem;
}

.aside-content-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  gap: 2.5rem;
  overflow: hidden;
}

.aside-title {
  font-size: 2.4rem;
  color: #242424;
  letter-spacing: 0.1em;
  line-height: 3.3rem;
}

.aside-btns {
  list-style-type: disc;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.aside-btns button {
  text-align: left;
  position: relative;
  padding: 0.6rem;
  padding-left: 2rem;
  cursor: pointer;
  width: 100%;
  border: 0.1rem solid #00822c;
  color: #00822c;
  background: white;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

.aside-btns button::before {
  content: "";
  border-radius: 50%;
  display: block;
  width: 0.4rem;
  height: 0.4rem;
  background: #00822c;
  position: absolute;
  left: 0.6rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

.aside-btns button.active {
  color: white;
  background: #00822c;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

.aside-btns button.active::before {
  background: white;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

.aside-content {
  z-index: 1;
  -ms-grid-column: 1;
  grid-column: 1/1;
  -ms-grid-row: 3;
  grid-row: 3/3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
  top: 12rem;
  -webkit-transform: translate(-100%, -20%) scale(0.7);
          transform: translate(-100%, -20%) scale(0.7);
  opacity: 0;
  width: 100%;
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
}

.aside-content.active {
  z-index: 2;
  -webkit-transform: translate(0%, 0%) scale(1);
          transform: translate(0%, 0%) scale(1);
  opacity: 1;
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
}

.aside-content-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.8rem;
}

.aside-content-item:not(:last-child) {
  padding-bottom: 2rem;
}

.aside-content-item-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.4rem;
}

.aside-content-item-title h3 {
  color: #ff0c00;
  font-size: 1.2rem;
  letter-spacing: 0.1em;
}

.aside-content-item-title h4,
.aside-content-item-title span {
  color: #555555;
  font-size: 1.2rem;
  font-weight: normal;
}

.aside-content-item-info {
  font-size: 1.3rem;
  line-height: 1.77rem;
}

.aside-content-more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1rem;
  font-size: 1.3rem;
  border: 0.1rem solid #00822c;
  padding: 0.6rem 1rem;
  background: transparent;
  color: #242424;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

.aside-content-more img {
  opacity: 1;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

.aside-content-more:hover {
  color: white;
  background: #00822c;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

.aside-content-more:hover img {
  opacity: 0;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

.aside-ad-wraper {
  max-width: unset;
  max-height: unset;
  width: 100%;
  height: 100%;
}

.aside-ad-wraper img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.sub-news-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.8rem;
}

.sub-news-left h2 {
  font-size: 2.4rem;
  color: #242424;
  letter-spacing: 0.1em;
  line-height: 3.3rem;
  font-weight: 600;
}

.sub-news-left-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
}

.sub-news {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 3.5rem;
}

.sub-news-left-content-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 0.8rem;
}

.sub-news-left-content-item-img {
  max-width: 11.7rem;
  max-height: 7.5rem;
  width: 100%;
  height: 100%;
}

.sub-news-left-content-item-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.sub-news-left-content-item-content {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 0.4rem;
}

.sub-news-left-content-item-date-content-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.4rem;
  color: #00822c;
  font-size: 1.2rem;
}

.sub-news-left-content-item-date-content-info {
  font-size: 1.2rem;
  color: #242424;
  line-height: 1.6rem;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.sub-news-right-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.5rem;
}

.sub-news-right-top h2 {
  padding-bottom: 0.3rem;
  font-size: 2.4rem;
  color: #242424;
  letter-spacing: 0.1em;
  line-height: 3.3rem;
  font-weight: 600;
  overflow: hidden;
  text-overflow: ellipsis;
}

.sub-news-right-top-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.5rem;
}

.sub-news-right-top-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 7.5rem;
}

.sub-news-right-top-item p {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.sub-news-right-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.8rem;
}

.sub-news-right-bottom h2 {
  font-size: 2.4rem;
  color: #242424;
  letter-spacing: 0.1em;
  line-height: 3.3rem;
  font-weight: 600;
}

.sub-news-right-bottom-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  gap: 0.8rem;
}

.sub-news-right-bottom-item {
  display: block;
  position: relative;
  font-size: 1.3rem;
  background: #00822c;
  padding: 0.6rem 1rem;
  padding-left: 2rem;
  color: white;
  letter-spacing: 0.05em;
}

.sub-news-right-bottom-item.red {
  background: #ff0c00;
}

.sub-news-right-bottom-item::before {
  content: "";
  border-radius: 50%;
  display: block;
  width: 0.4rem;
  height: 0.4rem;
  background: #00822c;
  position: absolute;
  left: 0.6rem;
  top: 50%;
  background: white;
}

.trending {
  padding: 4.6rem 0 4rem 0;
}

.trending-inner {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 67% auto;
      grid-template-columns: 67% auto;
  gap: 3.6rem;
}

.trending-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.5rem;
}

.trending-head h2 {
  font-size: 2.4rem;
  color: #242424;
  letter-spacing: 0.1em;
  line-height: 3.3rem;
  white-space: nowrap;
}

.trending-head span {
  width: 100%;
  border-top: 0.1rem solid #00822c;
}

.trending-aside,
.trending-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2.5rem;
}

.trending-aside-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.6rem;
}

.trending-img {
  max-width: unset;
  max-height: unset;
  width: 100%;
  height: 100%;
}

.trending-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.trending-aside-content {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.4rem;
}

.trending-aside-content-head h3 {
  color: #00822c;
}

.trending-aside-content-head h4,
.trending-aside-content-head span {
  color: #555555;
  font-weight: normal;
}

.trending-main-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 3.5rem;
}

.trending-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 0.8rem;
}

.trending-item .trending-img {
  max-width: 11.7rem;
  max-height: 7.5rem;
  width: 100%;
  height: 100%;
}

.trending-item .trending-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.trending-main-content-inner {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 0.4rem;
}

.posts {
  padding: 4rem 0;
}

.posts-content {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "big big sm1 sm2" "big big sm3 sm4" "sm5 sm6 sm7 sm8";
  gap: 2.5rem;
}

.posts-item.sm .trending-img {
  overflow: hidden;
}

.posts-item.big {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: big;
}

.posts-item.sm1 {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: sm1;
}

.posts-item.sm2 {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  grid-area: sm2;
}

.posts-item.sm3 {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: sm3;
}

.posts-item.sm4 {
  -ms-grid-row: 2;
  -ms-grid-column: 4;
  grid-area: sm4;
}

.posts-item.sm5 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: sm5;
}

.posts-item.sm6 {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: sm6;
}

.posts-item.sm7 {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: sm7;
}

.posts-item.sm8 {
  -ms-grid-row: 3;
  -ms-grid-column: 4;
  grid-area: sm8;
}

.footer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  min-height: 23.6rem;
  width: 100%;
  height: 100%;
  background: #383838;
}

.footer-inner {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-inner p {
  font-size: 1.3rem;
  color: white;
  font-weight: bold;
}
/*# sourceMappingURL=style.css.map */